*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main_container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.container{
  /* border: 2px solid black; */
  border-radius: 20px;
  background-color: white;
  height: 60vh;
  width: 20vw;
}
.heading{
  margin-top: 20px;
  text-align: center;
  color: rgb(70, 70, 236);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: 500; */
  text-shadow: 4px 4px 5px rgb(216, 59, 195);
  background-color: rgb(255, 238, 145);
  border-radius: 10px;
  /* font-size: 5rem; */
}
.input{
  text-align: center;
  padding: 10px;
  width: 14vw;
  /* margin: 4px; */
  outline: none;
  border: none;
  border-bottom: 4px solid blue;
  border-radius: 20px;
  font-size: 1.4rem;
  margin-left: 15px;
  
}

.addbtn{
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px 12px;
  border: none;
  background-color: rgb(216, 126, 35);
  margin-left: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.addbtn:hover{
  background-color: rgb(6, 172, 20);
  color: red;
}

.item{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 10px;
}

ul{
  margin-top: 0.8rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  list-style: none;
}

span{
  border-radius: 50%;
  background-color: rgb(210, 238, 52);
  padding: 5px 10px;
  color:rgb(100, 5, 5);
  font-weight: 700;
}
span:hover{
  
  background-color: red;
  /* padding: 10px; */
  color:white;
}

.list{
  /* list-style-position: inside; */
  margin-left: 10px;
}